.callout[data-callout="success"] {
  /* background: rgba(137, 180, 250, 0.8); */
  /* border-left: 5px solid #8bd5a6; */
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  padding: 14px 18px;
  line-height: 1.5;
}

.callout[data-callout="success"] .callout-content {
  font-size: 0.95rem;
  color: white;
}


.callout[data-callout="todo"] .callout-content {
  font-size: 0.95rem;
  color: white;
}


/* Fix bullet / checkbox alignment only inside callouts */
/* .callout ul>li, */
/* .callout ol>li { */
/*   display: flex; */
/*   align-items: center; */
/*   line-height: 1.5; */
/**/
/* } */

/* Center and size bullets properly */
/* .callout ul>li::marker { */
/*   font-size: 0.9em; */
/*   color: rgba(120, 80, 80, 0.6); */
/* } */

/* Align checkboxes inside callouts */
.callout input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 0.5rem;
  transform: scale(1.05);
}
