.callout[data-callout="note"] .callout-title svg {
  display: none !important;
}

.callout[data-callout="note"] {
  border: none;
  display: inline-block;
  border-radius: 2px;
  padding: 18px 22px;
  margin: 16px 0;
  background-color: #d2b48c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  font-family: "Georgia", "Times New Roman", serif;
}

.callout[data-callout="note"]:hover {
  transform: translateY(-10px);
  box-shadow: 0 100px 100px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

/* note title */
.callout[data-callout="note"] strong:first-of-type {
  display: block;
  color: #000000;
  margin-bottom: 8px;
  font-size: 1.2em;
  text-transform: capitalize;
}


.callout[data-callout="note"] strong:first-of-type::first-letter {
  font-size: 1.4em;
  /* float: left; */
  line-height: 0.9;
  /* padding-right: 6px; */
  font-weight: 1000;
}

/* note meaning */
.callout[data-callout="note"] p {
  margin: 0;
  font-size: 1em;
  color: #2b2418;
  line-height: 1.5;
}

/* Remove hover border for callouts in editing mode (Live Preview) */
.cm-callout:hover,
.cm-callout.cm-embed-block:hover {
  border: none !important;
  box-shadow: none !important;
}

/* Also remove the default border that appears even without hover */
.cm-callout,
.cm-callout.cm-embed-block {
  border: none !important;
  box-shadow: none !important;
}


.callout,
.callout[data-callout="note"] p {
  margin: 0;
  font-size: 1em;
  color: #000000;
  /* force black */
  line-height: 1.5;
  font-family: "Georgia", "Times New Roman", serif;
}
